(function($)
{
  'use strict';

  window.Engine = function(content)
  {
    [% PROCESS setup.tt2 %]
    [% DEFAULT
      width  = 640
      height = 480

      max_do_aux           = 50
      show_phys_box        = 1
      show_draw_box        = 1
      preload_interval     = 500
      paint_chunk_interval = 50
      chunk_draw_range     = 7

      record       = 0
      debug        = 0
      show_map     = 0
      engine_input = 1
      show_timings = 1

      tiles_bd = 4
      tiles_xw = 16
      tiles_yh = 16
      chunk_xw = 32
      chunk_yh = 24

      game_prefix = game.name.lower.replace('\W+', '_') || 'new_game'
      game_js = "${game_prefix}_js"
    %]

    [%
      MACRO INCLUDE_MAYBE(file)
        TRY ;
          PROCESS "$file" ;
        CATCH file ;
          CLEAR ;
          GET "/* NOPE: $file */" ;
          GET "/* $error */" ;
        END
    %]

    [% PROCESS blocks.tt2 %]

    [% INCLUDE js/events.js %]
    [% INCLUDE js/lprng.js %]
    [% INCLUDE js/physics.js %]
    [% INCLUDE js/tiles.js %]
    [% INCLUDE js/chunks.js %]
    [% INCLUDE js/gfx.js %]
    [% INCLUDE js/hud.js %]
    [% INCLUDE js/sprite.js %]
    [% INCLUDE js/ai.js %]
    [% INCLUDE js/runtime.js %]
    [% INCLUDE js/input.js %]
    [% INCLUDE js/misc.js %]

    [% INCLUDE_MAYBE("$game_js/sprites.js") %]
    [% INCLUDE_MAYBE("$game_js/runtime_setup.js") %]

    [% INCLUDE_MAYBE("$game_js/gen_foes.js") %]
    [% INCLUDE_MAYBE("$game_js/game_runtime.js") %]

    [% INCLUDE_MAYBE("$game_js/chunk_gen.js") %]

  }

})(jQuery);
