(function($)
{
  'use strict';

  window.Engine = function(content)
  {
    [% max_do_aux           = 50 %]
    [% max_mons             = 0 %]
    [% show_phys_box        = 0 %]
    [% preload_interval     = 500 %]
    [% paint_chunk_interval = 500 %]
    [% chunk_draw_range     = 7 %]

    [% record       = 0 %]
    [% debug        = 0 %]
    [% show_map     = 0 %]
    [% engine_input = 0 %]
    [% show_timings = 0 %]

    [% tiles_bd = 4 %]
    [% tiles_xw = 20 %]
    [% tiles_yh = 20 %]
    [% chunk_xw = 32 %]
    [% chunk_yh = 24 %]
    [% map_xw   = 64 * 9 %]
    [% map_yh   = 64 * 4 %]

    [% game_prefix = 'bifission' %]
    [% game_js = "${game_prefix}_js" %]
    [%
      MACRO INCLUDE_MAYBE(file)
        TRY ;
          PROCESS "$file" ;
        CATCH file ;
          CLEAR ;
          GET "/* NOPE: $file */" ;
          GET "/* $error */" ;
        END
    %]


    [% INCLUDE js/events.js %]
    [% INCLUDE js/lprng.js %]
    [% INCLUDE js/physics.js %]
    [% INCLUDE js/tiles.js %]
    [% INCLUDE js/chunks.js %]
    [% INCLUDE js/gfx.js %]
    [% INCLUDE js/hud.js %]
    [% INCLUDE js/sprite.js %]
    [% INCLUDE js/ai.js %]
    [% INCLUDE js/runtime.js %]
    [% INCLUDE js/input.js %]
    [% INCLUDE js/misc.js %]

    [% INCLUDE_MAYBE("$game_js/sprites.js") %]
    [% INCLUDE_MAYBE("$game_js/runtime_setup.js") %]

    [% INCLUDE_MAYBE("$game_js/gen_foes.js") %]
    [% INCLUDE_MAYBE("$game_js/game_runtime.js") %]

    [% INCLUDE_MAYBE("$game_js/chunk_gen.js") %]

  }

})(jQuery);
